.navBar {
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    color: white;
    padding: 10px;
    a {
        cursor: pointer;
        color: white;
        padding: 10px;
    }
}
@media screen and (max-width: 768px) {
    .navBar {
      justify-content: center;
    }
  
    .navBar a {
      width: 100%;
      text-align: center;
    }
  }
  