
<body>
  <Nav class="navBar">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/cards" routerLinkActive="active">Cards</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
</Nav>
<div class="container">
<div class="column">
<div class="menu">
    <a class="buttonTabBar" routerLink="/categories" routerLinkActive="active">Categories</a>
    <a class="buttonTabBar" routerLink="/makeYourCard" routerLinkActive="active">Make your card</a>
    <a class="buttonTabBar" routerLink="/events" routerLinkActive="active">Events</a></div>
  <div class="infornation">
    <img [src]="imagePathCardsHome" alt="imagePathCardsHome" class="imageCardsHome">
    <h2>Welcome to Cards Vtubers</h2>
    <h5>Lorem ipsum odor amet, consectetuer adipiscing elit. Interdum hac vel ex ac tortor urna condimentum nascetur tellus. Facilisi vulputate ornare dapibus curae ultrices habitant. Cubilia tellus vestibulum eu pellentesque aliquet potenti sodales. Nostra habitant inceptos suscipit pharetra sociosqu commodo. Magnis arcu convallis donec magna metus; orci vestibulum ad in. Arcu scelerisque accumsan, sollicitudin posuere lectus aliquam sociosqu. Netus vel purus cras viverra nisi in. Nisi tellus risus ridiculus odio tincidunt volutpat.</h5>
  </div>
  <div class="exampleCards">
    <div class="cardRed">cardRed</div>
    <div class="cardBlue">cardBlue</div>
    <div class="cardBrown">cardBrown</div>
  </div>
  
</div>
</div>
<footer><h5>Cards Vtubers 2025</h5></footer>
</body>