.exampleCards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  #card {
    width: 30vh;
    height: 45vh;
    margin: 1vh 1vh;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  img{
    border-radius: 10px;
  }
  .cardFirst {
    color: white;
    z-index: 1;
    transform: translate3d(-10vh, -15vh, 0)rotate(-10deg);
  }

  .cardSecond {
    color: white;
    z-index: 2;
    transform: translateX(10vh)rotate(10deg);
  }

  .cardThird {
    color: white;
    z-index: 3;
    transform: translate3d(-10vh, 15vh, 0)rotate(-10deg);
  }
}
