.exampleCards {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  #card {
    width: 30vh;
    height: 45vh;
    margin: 1vh 1vh;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    
  }
  img{
    border-radius: 10px;
  }
  .cardFirst {
    color: white;
    z-index: 1;
    
    animation: cardFirstAnimation 3s infinite alternate ease-in-out;
    @keyframes cardFirstAnimation {
      from {
        transform: translate3d(-10vh, -15vh, 0vh)rotate(-0deg);
      }
      to {
        transform: translate3d(-10vh, -15vh, 0)rotate(-3deg);
      }
    }
  }

  .cardSecond {
    color: white;
    z-index: 2;
    animation: cardSecondAnimation 3s infinite alternate ease-in-out;
    @keyframes cardSecondAnimation {
      from {
        transform: translateX(10vh)rotate(3deg);
      }
      to {
        transform: translateX(10vh)rotate(6deg);
      }
    }
  }

  .cardThird {
    color: white;
    z-index: 3;
    animation: cardThirdAnimation 3s infinite alternate ease-in-out;
    @keyframes cardThirdAnimation {
      from {
        transform: translate3d(-10vh, 15vh, 0)rotate(-6deg);
      }
      to {
        transform: translate3d(-10vh, 15vh, 0)rotate(-9deg);
      }

    }
  }
}
