<div class="exampleCards">
  <div id="card" class="cardFirst">
    <a [routerLink]="['/cardpage', randomImageFirst.id]">
      <img [src]="randomImageFirst.photo" [alt]="randomImageFirst.id" class="randomImagePath">
    </a>
  </div>
  <div id="card" class="cardSecond">
    <a [routerLink]="['/cardpage', randomImageSecond.id]">
      <img [src]="randomImageSecond.photo" [alt]="randomImageSecond.id" class="randomImagePath">
    </a>
  </div>
  <div id="card" class="cardThird">
    <a [routerLink]="['/cardpage', randomImageThird.id]">
      <img [src]="randomImageThird.photo" [alt]="randomImageThird.id" class="randomImagePath">
    </a>
  </div>
</div>